<%= form_for(@capitulo) do |f| %>
  <% if @capitulo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@capitulo.errors.count, "error") %> prohibited this capitulo from being saved:</h2>

      <ul>
      <% @capitulo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :numero_de_paginas %><br>
    <%= f.number_field :numero_de_paginas %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
